@model ContactoModel
@{
    ViewData["Title"] = "Editar Contacto";
}

<div class="text-center">

    <h1 class="display-4">Editar Contacto</h1>

</div>

<form asp-controller="Contacto" asp-action="EditarContacto" method="post">

    <input type="hidden" asp-for="id"/>

    <div class="mb-3">
        <label for="Cliente">Cliente</label>
        <input type="text" asp-for="Cliente" class="form-control" placeholder="Insira o nome do cliente">
        @Html.ValidationMessageFor(x => x.Cliente)
    </div>

    <div class="mb-3">
        <label for="Contacto">Contacto</label>
        <input type="text" asp-for="ContactoN" class="form-control" placeholder="Insira o seu contacto">
        @Html.ValidationMessageFor(x => x.ContactoN)
    </div>
    <div class="mb-3">
        <label for="Cidade">Cidade</label>
        <input type="text" asp-for="Cidade" class="form-control" placeholder="Insira a sua cidade">
        @Html.ValidationMessageFor(x => x.Cidade)
    </div>

    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a class="btn btn-secondary" asp-controller="Contacto" asp-action="Index">Voltar</a>
</form>




